.cdts_content {
    width: 1000px;
    height: 100%;
    margin: 25px auto 0;
}

.cdts_content .cdts_top {
    width: 100%;
}

.cdts_content .cdts_top .ret_reset {
    width: 438px;
}

.cdts_content .cdts_box {
    width: 100%;
    margin-top: 30px;
}

.cdts_content .cdts_box li {
    width: 100%;
    margin-bottom: 12px;
}

.cdts_tit {
    width: 68px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #3b3c40;
}

.cdts_num {
    margin-right: 20px;
    width: 70px;
    /* height: 16px; */
    /* margin: 5px 20px 5px 0; */
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.cdts_num2 {
    width: 32px;
    height: 16px;
    background: #4f6fb2;
    border-radius: 16px;
    margin-right: 38px;
    margin: 5px 20px 5px 0;
}

.cdts_items,
.birth_items,
.ages_items,
.address_items,
.join_items,
.education_items,
.school_items {
    width: 842px;
}

.ad_item {
    /* display: inline-block; */
    /* width: 36px; */
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    margin-right: 18px;
    color: #999999;
    vertical-align: top;
}

.ad_item:hover {
    color: #4f6fb2;
}

.date_box {
    width: 131px;
    height: 27px;
    margin-right: 10px;
    position: relative;
}

.date_box input {
    width: 100px;
    padding-right: 29px;
    height: 25px;
    border: 1px solid #c2c2c5;
    text-align: center;
    background-color: rgba(225, 225, 225, 0);
}

.date_box i {
    display: block;
    width: 29px;
    height: 25px;
    background: url(../images/jian_03.png) no-repeat center;
    background-color: #c3c6c8;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: -1;
}

.date_line {
    width: 20px;
    height: 27px;
    line-height: 27px;
    font-size: 20px;
    margin-right: 10px;
}

.ages_items input {
    width: 48px;
    height: 25px;
    border: 1px solid #ddddde;
    margin-right: 20px;
    vertical-align: top;
}

.education_items .list {
    display: inline-block;
    margin-right: 30px;
    height: 27px;
    line-height: 27px;
    color: #999999;
}

.education_items .checkColor {
    color: #4f6fb2;
    font-weight: bold;
}

.school_items input {
    width: 148px;
    height: 25px;
    padding: 0 10px;
    border: 1px solid #dcdcdd;
}

.resulf_box {
    width: 100%;
    margin-top: 18px;
}

.resulf_box .resulf_top {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #526ab0;
}

.resulf_box .resulf_top .resulf_tit {
    display: inline-block;
    margin-right: 36px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #4f6baf;
}

.resulf_box .resulf_top label {
    display: inline-block;
    width: 45px;
    padding-left: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #9a9a9d;
    vertical-align: middle;
    margin-right: 19px;
}
.my_protocol1{
  margin-top: -18px;
  margin-left: -20px;
  border-right: none !important;
  cursor: pointer;
}
.resulf_box .resulf_top a {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    vertical-align: middle;
}

.resulf_box .resulf_top span {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}

.checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/check.png) 100% no-repeat;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.checked {
    display: inline-block;
    width: 15px;
    height: 15px;
    /* background: url(../images/chenked.png) 100% no-repeat; */
    vertical-align: middle;
    cursor: pointer;
}

.resulf_items {
    width: 100%;
    margin-top: 32px;
}

.resulf_items .resulf_item {
    width: 936px;
    height: 128px;
    padding: 20px 30px;
    border: 2px solid #dedede;
    margin-bottom: 20px;
    position: relative;
    background-color: #f7f7f7;
}

.resulf_items .resulf_item img {
    width: 90px;
    height: 120px;
    margin: 4px 22px 4px 0;
}

.resulf_items .resulf_item .text_info {
    width: 824px;
    height: 42px;
}

.info_top {
    height: 42px;
    border-bottom: 1px solid #c7c7c7;
}

.info_top .fourteen {
    display: inline-block;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
}

.info_top .top_left {
    width: 215px;
}

.info_top .top_left .position {
    margin-right: 10px;
    color: #cd3f24;
}

.info_top .top_left .peo_name {
    color: #333333;
}

.info_top .top_center {
    width: 200px;
}

.info_top .top_center span {
    display: inline-block;
    width: 72px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    text-align: right;
    margin-right: 14px;
    color: #989898;
}

.info_top .top_center a {
    color: #656565;
}

.info_top .top_right {
    width: 250px;
    height: 42px;
    line-height: 42px;
    text-align: right;
}

.info_top .top_right a {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding-left: 20px;
    color: #343434;
    margin-left: 20px;
}

.info_top .top_right .contrast {
    background: url(../svg/contrast.svg) no-repeat;
}

.info_top .top_right .modify {
    background: url(../svg/modify.svg) no-repeat;
}

.info_top .top_right .collection {
    background: url(../svg/collection.svg) no-repeat;
}

.info_bottom {
    width: 100%;
    margin-top: 10px;
}

.info_bottom .inf_bottom_left {
    width: 215px;
}

.info_bottom .inf_bottom_right {
    width: 200px;
}

.others {
    height: 25px;
    line-height: 25px;
}

.others label {
    margin-right: 14px;
    font-size: 12px;
    color: #999999;
}

.others .right_label {
    display: inline-block;
    width: 72px;
    text-align: right;
}

.others span {
    font-size: 14px;
    color: #666666;
}

.btn_posi {
    position: absolute;
    left: 10px;
    top: 11px;
}

.checkColor {
    color: #4f6fb2;
    font-weight: bold;
}

/*隐藏掉我们模型的checkbox*/

.my_protocol {
  position: relative;
}

.my_protocol .input_agreement_protocol {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    /* display: none; */
    width: 100%;
    height: 20px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

/*未选中时*/

.my_protocol .input_agreement_protocol+span {
    width: 16px;
    height: 16px;
    background-color: red;
    display: inline-block;
    background: url(../images/icon_checkbox.png) no-repeat;
    background-position-x: 0px;
    background-position-y: -25px;
    position: relative;
    top: 5px;
}

/*选中checkbox时,修改背景图片的位置*/

.my_protocol .input_agreement_protocol:checked+span {
    background-position: 0 0px
}