* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

input {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid #dcdde2;
}

input:hover {
    cursor: text;
}

body {
    font: 13px "微软雅黑";
    color: #565656;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #565656;
}

img {
    vertical-align: top;
    border: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    clear: both
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.contont {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    margin-top: 30px;
    padding-bottom: 50px;
}

li.active {
    background: #f1f1f1;
}

/* index页 */

.index_left {
    width: 620px;
    height: auto;
    /* overflow: hidden; */
    float: left;
}

.index_mycanvas {
    width: 618px;
    height: 480px;
    border: 1px solid #ccc;
    float: left;
    position: relative;
}

.index_mycanvas_btn {
    float: left;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.mycanvas1 {
    width: 900px !important;
    height: 700px !important;
    float: left !important;
    position: fixed !important;
    z-index: 111;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    background: rgb(255, 255, 255);
}

.index_mycanvas_btn span {
    padding-left: 10px;
    cursor: pointer;
}

.index_left_information {
    margin-top: 19px;
}

.index_left_information_tit {
    height: 26px;
    overflow: hidden;
}

.index_left_information_tit i {
    border: 1px solid #4f69ae;
    margin-right: 10px;
    height: 13px;
    display: block;
    float: left;
    margin-top: 5px;
}

.index_left_information_tit span {
    line-height: 26px;
    display: block;
    font-size: 14px;
    float: left;
    color: #3b3c40;
}

.index_left_information_tit a {
    height: 24px;
    width: 112px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #4f6aaf;
    display: block;
    float: left;
    line-height: 24px;
    margin-left: 16px;
}

.index_left_information_con {
    width: 100%;
}

.index_left_information_con li {
    width: 96px;
    height: 130px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow: hidden;
    margin-right: 6px;
}

.index_left_information_con li:nth-child(6n+6) {
    margin-right: 0px;
}

.index_left_information_con li a {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.index_left_information_con .photo {
    width: 58px;
    height: 78px;
    margin: 11px auto 0;
    background: #ccc;
}

.index_left_information_con .photo img {
    width: 100%;
    height: 100%;
}

.index_left_information_con li p {
    text-align: center;
    font-size: 14px;
}

.index_right {
    width: 360px;
    margin-left: 20px;
    float: left;
}

.index_right_dismissal {
    margin-top: 12px;
    background: #f7f7f7;
    width: 360px;
    min-height: 646px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.index_right_dismissal li {
    width: 322px;
    line-height: 12px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 14px;
}

.index_right_dismissal li:nth-child(5n+5) {
    margin-bottom: 34px;
}

.index_right_dismissal li a {
    color: #333;
}

.index_right_dismissal>a {
    color: #3a6287;
    font-size: 12px;
    float: right;
}

/* resume页 */

.resume {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding-top: 34px;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.resume>h3 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.resume_con {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

.resume_con_top .resume_con_top_photo {
    width: 88px;
    height: 120px;
    margin-right: 20px;
    float: left;
}

.resume_con_top .resume_con_top_photo img {
    display: block;
    width: 88px;
    height: 120px;
    background: #ccc;
}

.resume_con_top .resume_con_top_detailed {
    width: 850px;
    float: left;
}

.xiaa {
    width: 100%;
    overflow: hidden;
}

.xiaa_left {
    float: left;
}

.xiaa_left span {
    font-size: 14px;
}

.xiaa_left .zhicheng {
    color: #cf4039;
}

.xiaa_left .xingming {
    color: #333;
    padding-left: 10px;
}

.xiaa_right {
    float: right;
    width: 270px;
    height: 21px;
}

.xiaa_right p {
    float: left;
    line-height: 21px;
    margin-left: 16px;
    font-size: 13px;
    cursor: pointer;
}

.xiaa_right p i {
    width: 16px;
    height: 14px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-size: auto 14px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 3px;
}

.xiaa_right p:nth-child(1) i {
    background-position: -140px;
}

.xiaa_right p:nth-child(2) i {
    background-position: -160px;
}

.xiaa_right p:nth-child(3) i {
    background-position: -120px;
}

.xiaa_right p:nth-child(4) i {
    background-position: -80px;
}

.resume_con_top_detailed .xinxi {
    width: 850px;
    height: 224px;
    background: #f7f7f7;
    overflow: hidden;
    margin-top: 12px;
}

.resume_con_top_detailed .xinxi dl {
    width: 290px;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    float: left;
}

.resume_con_top_detailed .xinxi dt {
    font-size: 12px;
    color: #999;
    float: left;
    width: 105px;
    text-align: right;
    height: 27px;
}

.resume_con_top_detailed .xinxi dd {
    font-size: 14px;
    color: #666666;
    width: 172px;
    float: left;
    height: 27px;
    margin-left: 13px;
}

.resume_con_bot {
    margin-top: 22px;
}

.resume_con_bot .lvli {
    margin-top: 22px;
    margin-left: 16px;
}

.resume_con_bot .lvli em {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #333;
    float: left;
    margin-right: 22px;
    margin-top: 6px;
}

.resume_con_bot .lvli li {
    height: 20px;
    font-size: 14px;
    color: #3b3c40;
    margin-top: 16px;
    line-height: 20px;
    position: relative;
}

.resume_con_bot .lvli li i {
    display: block;
    border-left: 2px solid #333;
    height: 37px;
    position: absolute;
    left: 3px;
    top: 7px;
}

.resume_con_bot .lvli li a {
    display: block;
    color: #3b3c40;
    line-height: 20px;
}

.resume_con_bot .lvli li:last-child i {
    display: none;
}

.zhiyeshu {
    float: left;
}

.qushi {
    float: left;
    margin-left: 24px;
}

.editor_tu {
    overflow: hidden;
}

.resume_canvas {
    width: 453px;
    height: 293px;
    border: 1px #ccc solid;
    margin-left: 12px;
}

.resume_news {
    overflow: hidden;
}

.resume_news_left {
    float: left;
}

.resume_news_left li {
    margin-top: 16px;
    margin-left: 12px;
    width: 453px;
    height: 17px;
    line-height: 17px;
}

.resume_news_left li a {
    font-size: 12px;
    color: #333;
}

.resume_news_left p,
.resume_news_left span {
    float: left;
    display: block;
}

.resume_news_left .leibie {
    width: 37px;
    height: 17px;
    background: #c0c4cd;
    line-height: 17px;
    text-align: center;
    margin: 0 10px;
    color: #fff;
}

.resume_news_left .tim {
    float: right;
    font-size: 12px;
    color: #999;
}

.gengduo {
    margin-top: 15px;
    float: right;
}

.gengduo a {
    color: #3a6287;
    font-size: 12px;
    float: right;
}

/* contrast 对比栏 */

.contrast {
    position: fixed;
    bottom: -140px;
    width: 100%;
    border-top: 1px solid #ccc;
    height: 140px;
    background: #fff;
    box-shadow: #ccc 0 3px 15px 3px;
}

.contrast_con>p {
    width: 90px;
    height: 32px;
    border: 2px solid #4f6aaf;
    border-bottom: 0px solid #fff;
    position: absolute;
    top: -34px;
    z-index: 1;
    left: -2px;
    background: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #4f6aaf;
}

.contrast_con {
    width: 1000px;
    height: 108px;
    margin: 0 auto;
    margin-top: 32px;
    box-sizing: border-box;
    border: 2px solid #4f6aaf;
    position: relative;
}

.contrast_con ul {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 22px;
    box-sizing: border-box;
}

.contrast_con ul li {
    width: 172px;
    height: 72px;
    border-right: 1px dashed #4f6aaf;
    float: left;
    /* margin-left: 5px; */
}

.contrast_con ul li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contrast_zhaopian {
    width: 42px;
    height: 58px;
    margin-top: 6px;
    float: left;
    margin-left: 22px;
    background: url(../images/icon.png) no-repeat -253px;
    background-size: auto 58px;
    box-shadow: #ccc 0px 0px 3px 1px;
}

.contrast_con .hide {
    font-size: 14px;
    color: #999;
    position: absolute;
    right: 30px;
    top: -28px;
    cursor: pointer;
}

.contrast_xz {
    float: left;
}

.contrast_xz p {
    font-size: 14px;
    margin-left: 8px;
    /* float: left; */
    margin-top: 5px;
}

.contrast_xz_z {
    color: #cf4039;
    display: none
}

.contrast_xz_x {
    color: #333;
    display: none
}

.tianduibi {
    font-size: 12px;
    color: #d3d3d3;
}

.duibi {
    float: left;
}

.duibi a {
    width: 70px;
    height: 24px;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    margin-left: 17px;
    margin-top: 10px;
}

.duibi_top {
    background: #4f6aaf;
    color: #fff;
}

.duibi_but {
    color: #3a6287;
}

/* contrast-results */

.contrast-results {
    width: 1000px;
    height: auto;
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}

.contrast-results th {
    color: #999;
    font-size: 12px;
    width: 120px;
    background: #f7f7f7;
}

.contrast-results th,
.contrast-results td {
    border: 1px solid #ccc;
    min-height: 58px;
    line-height: 58px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.contrast-results td {
    color: #333;
    font-size: 14px;
    width: 174px;
}

.contrast-results tr {
    min-height: 48px;
    text-align: center;
}

.results2 {
    height: 184px;
}

.results2 img {
    width: 88px;
    height: 120px;
}

.results3 td {
    color: #cf4039;
}

/* similar-resume */

.similar_resume {
    width: 100%;
    height: 178px;
    background: #f7f7f7;
    margin-top: 30px;
}

.similar_resume_con {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.similar_resume_con dl {
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.similar_resume_con dt {
    width: 88px;
    height: 120px;
    float: left;
    margin-right: 24px;
}

.similar_resume_con dt img {
    width: 100%;
    height: 100%;
}

.similar_resume_con dd {
    height: 120px;
    float: left;
}

.similar_resume_con dd span {
    font-size: 14px;
}

.similar_resume_con dd .similar_resume_con_top span:nth-child(1) {
    color: #cf4039;
}

.similar_resume_con dd .similar_resume_con_top span:nth-child(2) {
    color: #333;
    padding-left: 10px;
}

.similar_resume_con dd .similar_resume_con_top span:nth-child(3) {
    color: #999;
    font-size: 12px;
    padding-left: 40px;
}

.similar_resume_con dd .similar_resume_con_top span:nth-child(4) {
    color: #666;
    padding-left: 10px;
}

.similar_resume_con_center {
    margin-top: 16px;
}

.similar_resume_con_center p:first-child {
    font-size: 12px;
    color: #999;
}

.similar_resume_con_center p:last-child {
    font-size: 14px;
    color: #666;
    margin-top: 3px;
}

.similar_resume_con_bot {
    margin-top: 26px;
}

.similar_resume_con_bot p i {
    display: block;
    height: 14px;
    width: 14px;
    background: url(../images/icon.png) no-repeat -140px;
    background-size: auto 14px;
    margin-right: 10px;
    float: left;
}

.similar_resume_con_bot p {
    font-size: 14px;
    color: #333;
    line-height: 14px;
    cursor: pointer;
}

.similar_resume_xiangsi {
    margin-top: 70px;
    overflow: hidden;
}

.similar_resume_xiangsi_lin {
    border-bottom: 2px solid #4f69ae;
    overflow: hidden;
    margin-bottom: 12px;
}

.similar_resume_xiangsi_lin p {
    width: 90px;
    height: 32px;
    background: #4f69ae;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    float: left;
}

.similar_resume_xiangsi_lin span {
    display: block;
    float: right;
    font-size: 12px;
    color: #999;
    margin-right: 15px;
    line-height: 32px;
}

/* .similar_resume_xiangsi_but{
    overflow: hidden;
} */

.similar_resume_xiangsi_but {
    width: 100%;
    height: 175px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 26px 30px;
}

.similar_resume_xiangsi_but dt,
.similar_resume_xiangsi_but dd {
    float: left;
}

.similar_resume_xiangsi_but dt img {
    width: 88px;
    height: 120px;
}

.similar_resume_xiangsi_but dd {
    margin-left: 24px;
    width: 825px;
}

.similar_resume_xiangsia span {
    font-size: 14px;
    display: inline-block;
}

.similar_resume_xiangsia {
    border-bottom: #ccc solid 1px;
    padding-bottom: 14px;
}

.similar_resume_xiangsia span:nth-child(1) {
    color: #cf4039;
}

.similar_resume_xiangsia span:nth-child(2) {
    color: #333;
    padding-left: 10px;
}

.similar_resume_xiangsia span:nth-child(3) {
    color: #999;
    font-size: 12px;
    padding-left: 40px;
}

.similar_resume_xiangsia span:nth-child(4) {
    color: #666;
    padding-left: 10px;
}

.similar_resume_xiangsia span:nth-child(5) {
    width: 100px;
    height: 15px;
    color: #999;
    padding-left: 10px;
    float: right;
    line-height: 11px;
    display: block;
    cursor: pointer;
}

.similar_resume_xiangsia span i {
    display: block;
    background: url(../images/icon.png) no-repeat -140px;
    background-size: auto 14px;
    line-height: 14px;
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 10px;
}

.similar_resume_xiangsic {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    width: 700px;
}

.similar_resume_xiangsib {
    font-size: 12px;
    color: #999;
    margin-top: 16px;
}

.similar_resume_xiangsic span {
    color: #4f6aaf;
}

/* management */

.management {
    width: 100%;
    height: 100%;
}

.batch_right {
    float: left;
    width: 85%;
    position: relative;
}

.batch_right h3 {
    font-size: 18px;
    color: #3b3c40;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 42px;
}

.sidebar {
    width: 15%;
    border-right: 2px solid #ccc;
    /* min-height: 800px; */
    float: left;
    box-sizing: border-box;
}

.sidebar p {
    font-size: 14px;
    color: #3b3c40;
    font-weight: 600;
    border-bottom: 1px solid #f3f4f8;
    padding: 20px 25px 10px;
    margin-bottom: 16px;
}

.sidebar li a {
    font-size: 12px;
    color: #6e6e6e;
    padding-left: 78px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.sidebar li {
    line-height: 46px;
    cursor: pointer;
    box-sizing: border-box;
}

.sidebar li:hover {
    background: #f1f1f1;
}

.batch_file {
    margin: 100px auto;
    width: 500px;
}

/* .batch_file_xiazai{
    margin-top: 70px;
} */

.batch_file_xiazai p {
    font-size: 14px;
    color: #4f6aaf;
    width: 456px;
    height: 44px;
    margin-bottom: 24px;
    background: #f2f5f7;
}

.batch_file_xiazai p i {
    display: block;
    width: 17px;
    height: 17px;
    float: left;
    background: url(../images/icon.png) -24px no-repeat;
    background-size: auto 17px;
    margin-left: 160px;
    margin-top: 13px;
    margin-right: 15px;
}

.batch_file_xiazai p a {
    color: #4f6aaf;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 44px;
    /* text-align: center */
}

.batch_file_file {
    position: relative;
    width: 456px;
    height: 44px;
}

.batch_file_file input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.batch_file_file p {
    width: 456px;
    height: 44px;
    background: #b9bbc0;
    line-height: 44px;
    color: #fff;
    font-size: 14px
}

.batch_file_file i {
    background: url(../images/icon.png) -274px no-repeat;
    background-size: auto 16px;
    display: block;
    width: 17px;
    height: 17px;
    float: left;
    margin-left: 160px;
    margin-top: 13px;
    margin-right: 15px;
}

.upload_success {
    width: 512px;
    height: 212px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -256px;
    box-shadow: #ccc 8px 8px 15px 3px;
    line-height: 212px;
    text-align: center;
    color: #4f6aaf;
    font-size: 30px;
}

.upload_error {
    width: 514px;
    height: 319px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -257px;
    box-shadow: #ccc 8px 8px 15px 3px;
}

.upload_error p {
    font-size: 30px;
    color: #894747;
    margin-top: 40px;
    margin-left: 34px;
}

.upload_error span {
    display: block;
    margin-left: 34px;
    font-size: 18px;
    margin-top: 14px;
}

.upload_error span:nth-child(2) {
    font-size: 16px;
}

.upload_error a {
    width: 97px;
    height: 24px;
    display: block;
    background: #4f6aaf;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-right: 14px;
    margin-top: 10px;
}

.upload_error h5 {
    color: #ccc;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
select {
    box-sizing: border-box;
    border: 1px solid #dcdde2;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/jian_03.png) no-repeat right;
    background-size: auto 100%;
    padding-right: 18px;
}

.single_entry_top_btn {
    width: 100%;
    float: left;
    margin-top: 35px;
    padding-left: 126px;
    box-sizing: border-box;
}


/* news */

.classification {
    overflow: hidden;
    height: 103px;
}

.classification p {
    width: 60px;
    font-size: 12px;
    color: #3b3c40;
    height: 63px;
    margin-top: 3px;
}

.classification ul {
    position: relative;
    width: 940px;
}

.classification ul li {
    float: left;
    margin-right: 28px;
    /* position: relative; */
}

.classification ul li>a {
    padding: 3px 5px;
    display: block;
    width: 35px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}

.classification ul li>a:hover {
    background: #4f69ae;
    color: #fff;
    border-radius: 16px;
}

.list_classification {
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 14px;
    line-height: 36px;
    display: none;
}

.list_classification a {
    padding: 0 20px;
}

.list_classification a:hover {
    color: #4F6AAF;
}

.classification_block {
    display: block;
}

.news_con {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    height: auto;
    padding: 10px 26px;
    box-sizing: border-box;
}

.news_con ul li:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #000;
    /* border-radius: 50%; */
    position: absolute;
    margin-top: 8px;
    left: 0px;
}

.news_con ul li {
    line-height: 18px;
    color: #333;
    font-size: 12px;
    position: relative;
    text-indent: 10px;
    overflow: hidden;
    margin-top: 18px;
}

.news_con ul li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news_con ul li:nth-child(5n+5) {
    border-bottom: 1px solid #ccc;
    height: 44px;
}

.news_con ul li span {
    display: block;
}

.news_con_fen {
    width: 44px;
    height: 18px;
    background: #bfc2cc;
    color: #fff;
    margin-right: 150px;
}

.news_con ul li p {
    display: inline-block;
    width: 600px;
}

.paging {
    display: inline-block;
    height: 34px;
    margin-top: 38px;
    margin-bottom: 30px;
}

.paging span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #a5a6a6;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
}

.paging .prev_page {
    fill: #797a7a;
    background: url(../svg/prev_page.svg) no-repeat center;
}

.paging .next_page {
    background: url(../svg/next_page.svg) no-repeat center;
}

.news_details {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 40px 48px;
}

.news_details h3 {
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 24px;
}

.news_details_xiangxi {
    font-size: 14px;
    color: #999;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.news_details_xiangxi p {
    margin-right: 30px;
}

.news_details_xiangxi span {
    padding-right: 30px;
}

.news_details_xiangxi a {
    color: #4f6aaf;
}
.news_details_con {
    margin-top: 34px;
    font-size: 14px;
    color: #3b3c40;
}
/* Job_tree_management_right */

.Job_tree_management_right {
    float: left;
    width: 85%;
    position: relative;
}

.Job_tree_management_right h3 {
    font-size: 18px;
    color: #3b3c40;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 42px;
}

.Job_tree_management_right form {
    padding-left: 42px;
}

.Job_tree_management_right ul {
    width: 720px;
    height: 313px;
    border: 1px solid #ccc;
    margin-top: 14px;
    padding: 10px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Job_tree_management_right li {
    margin-top: 20px;
}

.Job_tree_management_right label {
    display: inline-block;
    width: 137px;
    font-size: 14px;
    color: #3B3C40;
    text-align: right;
    margin-right: 20px;
}

.Job_tree_management_right input {
    width: 200px;
    height: 25px;
}

.Job_tree_management_right select {
    width: 500px;
    height: 25px;
}

.Job_tree_management_right_btn {
    padding-left: 157px;
}

.Job_tree_management_right_btn span {
    display: inline-block;
    width: 70px;
    height: 23px;
    border: 1px solid #4f6aaf;
    color: #4f6aaf;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    margin-top: 26px;
}

.Job_tree_management_right_btn span.baocun {
    background: #4f6aaf;
    color: #fff;
}





























